body {
    font-family: "Montserrat";
}

.menu_custom {
    box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.57);
    -webkit-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.57);
    -moz-box-shadow: 2px 1px 8px 0px rgba(0,0,0,0.57);
    width: inherit;
    font-size: 14px;
    font-weight: 600;
    z-index: 1;
}

.logo_noritmo {
    width: 120px;
}

.centralizar_content {
    display: flex;
    align-self: center;
}

.btn-contato {
    background-color: #ff0000;
    color: #fff;
    font-size: 14px;
}

.carouselNoritmo {
    padding-top: 57.16px;
}

/***** Banner Superior *****/
/*
#banner {
    padding-top: 57.16px;
    height: 100vh !important;
    background: no-repeat center/80% url( "../src/img/banner.png");
    background-size: cover;
}

.banner_topo {
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner_content {
    width: 50%;
    height: 100%;

    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 3rem;
}

.banner_content h1{
    color: #fff;
}

.banner_content h2{
    color: #fff;
    font-size: 1rem;
}

.banner_content p{
    color: #fff;
}

.banner_content a{
    color: #fff;
}
*/
 
 